# Python-specific ignores
*.py[cod]
__pycache__/
*.egg-info/
*.log
*.DS_Store  # macOS系统自动生成的隐藏文件

# Byte-compiled / optimized / DLL files
**/*.pyd
**/*.so

# Distribution / packaging
build/
dist/
venv/
*.egg
develop-eggs/
.installed.cfg
lib/

# C extensions
*.c
*.h
*.o
*.obj
*.cpp
*.lo

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.sqlite3
local_settings.py
db.sqlite3
media
staticfiles
*.dump

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx documentation output
docs/_build/

# Environments
.env
.venv
env/
venv/

# MyPy type checker cache
.mypy_cache/

# Editor temporary and autosave files
.idea/
*.swp
*~.n~

# Environment based on poetry
poetry.lock
.pypoetry/